div.opcions {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 15px;
    width: 26px;
    height: 24px;
    margin: 3px;
    display: inline-block;
    cursor: default;
    padding-top: 2px;
  }
  #black {
    background-color: black;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #blue {
    background-color: blue;
  }
  #white {
    background-color: white;
  }
  #clear {
    border-radius: 5px;
    width: 60px;
    text-align: center;
    background-color: #f6f6f6;
  }